local_mqtt_port = 1883;
adafruitio_port = 8883;
adafruitio_server = "io.adafruit.com";
adafruitio_user_name = "pbuelow";
adafruitio_key = "";
mqtt_server = "mqttserver";
mqtt_user_name = "";
mqtt_password = "";
onewire_device = "10-xxx";
mqtt_name = "";
flowrate_pin = 15;
onewire_pin = 19;
adc_address = 0x69;
adc_channel = 1;
debug = "INFO";
