local_mqtt_port = 1883;
adafruitio_port = 8883;
adafruitio_server = "io.adafruit.com";
adafruitio_user_name = "pbuelow";
adafruitio_key = "";
mqtt_server = "mqttserver";
mqtt_user_name = "";
mqtt_password = "";
onewire_device = "10-xxx";
mqtt_name = "";
flowrate_pin = 0;
onewire_pin = 19;
debug = "INFO";
enable_mqtt = 0;
enable_adafruitio = 0;
red_led = 15;
yellow_led = 16;
green_led = 17;
pump_pin = 11;
o2sensor_address = 0x61;
phsensor_address = 0x63;
adc_address = 0x69;
water_level_channel = 2;
